<h1><%= @location.name %></h1>
<hr />
<p><%= @location.days %> Day Stop</p>
<br/>
<%= link_to 'Edit Location', edit_trip_location_path([@trip, @location]) %>
<br/>
<%= link_to 'Delete Location', [@trip, @location], method: :delete %>
<br/>
<%= link_to 'Back to Locations', trip_locations_path(@trip) %>
<br />
<%= link_to 'Edit Address', edit_location_address_path(@location) %>
